---
layout: default
title: Careers
---

<h1 class="text-center">Come join the team.</h1>
<p class="text-muted text-center">We are always looking for great talent.</p>

<div class="text-center about-buttons">
    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#about-modal">About KickBack Rewards Systems</button>
    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#twin-falls-modal">About Twin Falls, ID</button>
</div>

{% include about-modal.html %}
{% include twin-falls-modal.html %}
<br>

<p>
<strong> Our Mission Statement:</strong> From modest beginnings, Cascade Agronomics, LLC, was founded on the principle of providing exemplary customer service to everyone who placed their trust in us. We have evolved into a notable competitor in all areas of agronomy including best practice crop management and protecting the environment through recycling natural fertilizer products. Simply stated, our mission is to provide our customers and their families with the same levels of honesty, service, and concern we would want for our families and ourselves.
</p>

<hr>

<div class="panel-group" id="accordion">
  {% for post in site.posts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row"> 
          <div class="col-xs-10">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#{{ post.accordion-id }}">{{ post.title }}</a>
            </h4>
          </div>

          <div class="col-xs-2">
            <div class="pull-right">
              <a class="btn btn-sm btn-primary" href="/apply">Apply</a>
            </div>
          </div>
        </div>
      </div>
      <div id="{{ post.accordion-id }}" class="panel-collapse collapse">
        <div class="panel-body">
          {{ post.content }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
