<div class="modal fade" id="xs-home-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img class="img-responsive img-ctr" src="/img/mm_logo.jpg" alt="Cascade Agronomics" style="height: 90px; align: right">
        <br>

        <p class="text-center">Return to the Cascade Agronomics website?</p>

      </div>

      <div class="modal-footer">
        <a href="/" class="btn btn-success" >Yes</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

